@import url(https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Cinzel&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  -webkit-animation: gradient 20s ease infinite;
  animation: gradient 20s ease infinite;
  background: linear-gradient(
    -45deg,
    #003547,
    #c2bb00,
    #e1523d,
    #ed8b16,
    #005e54
  );
  background-size: 400% 400%;
  height: 100vh;
  
}


.header {
  color: azure;
  font-family: Amatic SC, cursive;
  margin: 1rem;
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

main {
  padding: auto;
  margin: 30px auto;
  width: 80%;
}

.card--body {
  margin: 10px auto !important;
  padding: 1rem !important;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
  margin: 1rem;
  align-items: center;
  transform-origin: 0px 0px;
  max-width: 55%;
}

.card--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card--body h5 {
  color: darkred;
  font-family: Cinzel, serif;
  font-size: 1.6rem;
}

.card--header button {
  background: hsla(0, 14%, 99%, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.card-body p {
  font-family: Pathway Gothic One, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 3px;
  text-align: justify;
  text-indent: 1.25rem;
}
